* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

#page-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: 400px 200px 400px 500px 500px;
}

#sidebar {
    background-color: #1992D3;
    grid-row: 1 / 6;
    color: white;
    font-weight: 600;
    padding: 20px;
}

#sidebar ul img {
    width: 20px;
    filter: invert(99%) sepia(0%) saturate(7497%) hue-rotate(177deg) brightness(101%) contrast(103%);
    margin-right: 15px;
} 

#sidebar ul li {
    margin-bottom: 15px;
    display: flex;
}

#sidebar ul {
    margin-top: 40px;
}

#sidebar ul:nth-child(3) {
    margin-top: 60px;
}

#logo-container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

#logo-container img {
    width: 50px;
    filter: invert(99%) sepia(0%) saturate(7497%) hue-rotate(177deg) brightness(101%) contrast(103%);
}
